<h3 id="projects_list_title">项目列表</h3>
<table id="project_list_table">
  <thead>
    <tr>
      <td>项目名称 <small>(<%= link_to '新增项目', new_project_path %>)</small></td>
      <td>任务名称</td>
      <% td_width = 68 %>
      <% tn = 1 %>
      <% tdd_steps.each do |step| %>
        <% arrow = tn == tdd_steps.size ? '' : ' ➠' %>
        <td width="<%=td_width%>"><%= step %><%= arrow %></td>
        <% tn += 1 %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <% project_name_flag = false # for rowspan use %>
      <% tasks = get_tasks(project) %>
      <% if tasks.size > 0 %>
        <% #有任务可显示的项目 %>
        <% tasks.each do |task| %>
          <tr valign="top">
            <% if !project_name_flag %>
              <td id="<%= dom_id(project) %>" class="name" valign="top" rowspan="<%= rowspan_num(project) %>">
                <%= show_project_name(project) %></td>
              <% project_name_flag = true %>
            <% end %>
            <% #显示任务名称 %>
              <td id="<%= dom_id(project) %>_task_<%=task.id%>">
                <%= top_ico(task.is_top) %>
                <%= link_to task.name, edit_task_path(task) %></td>
            <% #显示已完成步骤图示 %>
            <% (1..task.tdd_step).each do %>
              <td align="center"><%= pass_png %></td>
            <% end %>
            <% #显示未完成步骤图示与链接 %>
            <% (task.tdd_step+1..tdd_steps.size).each do |n| %>
              <td align="center">
                <%= link_to empty_png,
                      {controller: :tasks, action: :update_tdd_step, id: task.id, new_step_num: n},
                      {id: "task_#{task.id}_tdd_step_#{n}"} %></td>
            <% end %>
            </tr>
        <% end %>
      <% else %>
        <% #没有任务可显示的项目 %>
        <tr>
          <td id="<%= dom_id(project) %>" class="name" colspan="5">
            <%= show_project_name(project) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
