<h3 id="projects_list_title">项目列表</h3>
<table id="project_list_table">
  <thead>
    <tr>
      <td>项目名称 <small>(<%= link_to '新增项目', new_project_path %>)</small></td>
      <td>任务名称</td>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr valign="top">
        <tr class="project-row" id="<%= dom_id(project) %>">
        <td class="name" valign="top"><%= link_to project.name, edit_project_path(project) %></td>
        <td>
          <% n = 1 %>
          <% project.tasks.each do |task| %>
            <span id="<%= dom_id(project) %>_task_<%=n%>"/><%= link_to task.name, edit_task_path(task) %><%= pass_img %><br/>
            <% n += 1 %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
